<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Understand the workflow of Jupyter Notebooks and its utility
* Identify the most used IDEs, Tools.
* Identify basic operations in Python.

<H2>Author</H2>
Nicolas Lopez

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scipy

In [3]:
import pandas as pd
data = {'Data Science Tools': ['Spyder', 'Pycharm', 'Jupyter Notebooks']}
data_df = pd.DataFrame(data)
data_df

  Data Science Tools
0             Spyder
1            Pycharm
2  Jupyter Notebooks

<H3> Below are a few examples of evaluating arithmetic expressions in Python </H3>

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335